@font-face {
    font-family: 'soralight';
    src: url('../assets/fonts/sora-light-webfont.woff2') format('woff2'),
         url('../assets/fonts/sora-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    font-size: 16px;
    font-family: 'soralight';
    --site-color: #dd4823;
    --site-color: #e65728;
    --site-secondary-color: #fea86a;
    /* --home-section-3-color: antiquewhite; */
    --home-section-3-color: #fff6f0;
    --font-size-1: clamp(3.4rem, 4vw + 1.3vw, 4.5rem);
    /* --font-size-1: max(2rem, 4.5rem); */
    --font-size-3: calc(1.5vw + 1rem);
}

.container {
    max-width: min(70rem, 90vw);
    margin: 0 auto;
}

.highlight {
    color: var(--site-color);
}

header {
    background-color: var(--site-color);
}

.no-scroll {
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
}

header .container {
    /* background-color: var(--site-color); */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
}

nav {
    display: flex;
    display: none;
    gap: 1.5rem;
    align-items: center;
}

nav > button {
    border: none;
    background: none;
    color: white;
    font-family: 'soralight';
    font-size: 1.1rem;
    font-weight: bold;
}

nav button:nth-of-type(5) {
    background-color: var(--site-secondary-color);
    border-radius: 2rem;
    padding: 1rem 1.2rem;
    color: var(--site-color)
}


nav button:last-of-type {
    stroke: var(--site-secondary-color);
}

.logo img {
    width: min(40vw, 200px);
}

.menu-button {
    border: none;
    background: none;
    /* display: none; */
}

.header-menu {
    font-size: 30px;
    height: 40px;
    stroke: #fea86a;
}

#menuClose {
    display: none;
}




/* footer */
footer {
    margin: 5rem 0 2rem;
}

footer .container > * {
    margin-bottom: 2rem;
}

.footer-image {
    display: flex;
   justify-content: center;
}
.footer-image img {
    width: 10rem;
}

ul.footer-nav li {
    /* display: inline-block; */
    /* display: inline; */
    width: fit-content;
    /* width: max-content; */
    /* border: 1px solid; */
}

ul.footer-nav {
    list-style: none;
    display: flex;
    row-gap: 1rem;
    column-gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
}

ul.footer-nav li button{
    background: none;
    border: none;
    font-family: 'soralight';
    font-size: 1rem;
}

.footer-contact {
    display: flex;
    justify-content: center;
    column-gap: 1.5rem;
    row-gap: 1rem;
    flex-wrap: wrap;
}

.footer-contact > * {
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.footer-contact-opt a {
    text-decoration: none;
    color: black;
}

.footer-contact-opt a:hover, .my-info a:hover {
    color: red;
}

.footer-contact-opt svg {
    height: 1.5rem;
    stroke: var(--site-color);
}

.footer-info {
    text-align: center;
}

.my-info {
    display: flex;
    justify-content: center;
    column-gap: .5rem;
}

.my-info a {
    text-decoration: none;
    color: black;
}